## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv") #Path adjusted from template
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Ayora,EC,-0.7393,-90.3518,70.56,92,43,1.99,scattered clouds
1,1,Kyzyl,RU,51.7000,94.4500,72.05,41,69,10.11,broken clouds
2,2,New Norfolk,AU,-42.7826,147.0587,56.70,47,76,5.68,broken clouds
3,3,Balabac,PH,7.9868,117.0645,86.50,70,55,17.81,broken clouds
4,4,Bathsheba,BB,13.2167,-59.5167,81.21,78,40,11.50,scattered clouds

In [10]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Balabac,PH,7.9868,117.0645,86.50,70,55,17.81,broken clouds
4,4,Bathsheba,BB,13.2167,-59.5167,81.21,78,40,11.50,scattered clouds
5,5,Georgetown,MY,5.4112,100.3354,89.53,70,20,1.01,few clouds
6,6,Wanning,CN,18.8003,110.3967,88.92,64,100,13.65,overcast clouds
8,8,Kapaa,US,22.0752,-159.3190,84.18,77,75,3.00,broken clouds
13,13,Erzin,TR,36.9559,36.2000,79.52,62,0,0.29,clear sky
15,15,Yellowknife,CA,62.4560,-114.3525,76.28,46,3,6.96,clear sky
26,26,Butaritari,KI,3.0707,172.7902,83.32,68,45,7.74,scattered clouds
27,27,Hithadhoo,MV,-0.6000,73.0833,81.59,72,82,7.11,broken clouds
28,28,Altay,CN,47.8667,88.1167,76.05,28,1,6.08,clear sky

In [12]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                232
City                   232
Country                232
Lat                    232
Lng                    232
Max Temp               232
Humidity               232
Cloudiness             232
Wind Speed             232
Current Description    232
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Balabac,PH,86.50,broken clouds,7.9868,117.0645,
4,Bathsheba,BB,81.21,scattered clouds,13.2167,-59.5167,
5,Georgetown,MY,89.53,few clouds,5.4112,100.3354,
6,Wanning,CN,88.92,overcast clouds,18.8003,110.3967,
8,Kapaa,US,84.18,broken clouds,22.0752,-159.3190,
13,Erzin,TR,79.52,clear sky,36.9559,36.2000,
15,Yellowknife,CA,76.28,clear sky,62.4560,-114.3525,
26,Butaritari,KI,83.32,scattered clouds,3.0707,172.7902,
27,Hithadhoo,MV,81.59,broken clouds,-0.6000,73.0833,
28,Altay,CN,76.05,clear sky,47.8667,88.1167,

In [32]:
test_hotel = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
test_hotel.count()

City                   232
Country                232
Max Temp               232
Current Description    232
Lat                    232
Lng                    232
dtype: int64

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [62]:
hotel_df.count()

City                   232
Country                232
Max Temp               232
Current Description    232
Lat                    232
Lng                    232
Hotel Name             232
dtype: int64

In [74]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]
clean_hotel_df.count()

City                   208
Country                208
Max Temp               208
Current Description    208
Lat                    208
Lng                    208
Hotel Name             208
dtype: int64

In [65]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [78]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [79]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))